@{
    ViewBag.Title = "Home Page";
}
<div>
    <p id="info" class="text-primary">Welcome to Elan<span class="wave">Wave</span> bookstore!<br /><br />
    Here you can browse our book database, add new books,edit or delete the old ones.Basically,<br />
    you can do anything!<br /><br />
    To browse the contents, please sign in, or sign up for an account if you dont have one.</p>
</div>